.myDIV-Jokes {


border: 1px solid black;
font-size: 10px;


}

.myDIV-Headline {

font-size: 15px;
}

.myDIV-credits {
    
font-size: 10px;
color: red;
    
    
    
}

.myDIV-contact {



}

.myDIV-about {

font-size: 15px;


}

.myDIV-footer {


font-size: 10px;
color: white;
text-align: center;

}


.myDIV-footer-WCG {


border-radius: 20px; 
width: 405px; 
height: 190px; 
overflow: hidden;
position:relative;
}



.myDIV-categories {


font-size: 15px;
color: red;
text-align: center;

}

.div-table {
    display: table;
    width: 100%;
    overflow: scroll;
    background-color: #eee;
    border-spacing: 2px;
    border-radius: 4px
}

.trow {
    display: table-row
}

.tcolumn {
    display: table-cell;
    vertical-align: top;
    background-color: #fff;
    padding: 10px 8px

}


.divbuttons {
  text-align: center;
}



.button {
  box-sizing: border-box;
  appearance: none;
  background-color: #4CAF50;
  border: 2px solid $red;
  border-radius: 0.6em;
  color: $red;
  cursor: pointer;
  display: flex;
  align-self: center;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  padding: 1.2em 2.8em;
  text-decoration: none;
  margin: 10px;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  float: none;
  display: block;
  width: 20%;
  margin: 10px auto;
  &:hover,
  &:focus {
    color: #fff;
    outline: 0;
  }
}
input[type = text] {
  background-color: white;
  width: 20%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;

}
